name: README build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *" # Daily at 4 AM UTC

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Needed for pushing changes

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Get Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Configure pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/cache/requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install dependencies
        run: python -m pip install -r cache/requirements.txt

      - name: Update README file
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_NAME: ${{ secrets.USER_NAME }}
        run: python today.py

      - name: Commit and push changes
        env:
          BOT_NAME: "hariharan2005"  # <-- Account 2 username
          BOT_EMAIL: "50076338+hariharan2005@users.noreply.github.com"

        run: |
          git config user.name "$BOT_NAME"
          git config user.email "$BOT_EMAIL"

          git add .
          git commit -m "Updated README" || echo "No changes to commit"

          # GITHUB_TOKEN is already set up by Actions, this is enough
          git push

